
#div2{ 
    height: 200px;
    width: 200px;
    background-color: red;
}
#div3{ 
    height: 200px;
    width: 200px;
    background-color: green;
}
#div4{ 
    height: 200px;
    width: 200px;
    background-color: yellow;
}